{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url({% static 'img/login-bg.jpg' %});"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="/" title="Bot Trade"><img src="{% static 'img/logo_s.png' %}" alt="Bot Trade"></a> </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Parece que você é novo por aqui!</h1>
                <p class="text-4 text-white line-height-4 mb-5">Entre na nossa plataforma em poucos minutos! Registre-se no formulário.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->

      <!-- Login Form
      ========================= -->
      <div class="col-md-6 d-flex align-items-center">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-600 mb-4">Registrar</h3>

               {% if form.errors %}
                 <p class="font-italic text-danger">Não foi possível fazer o registro, por favor verifique os dados e tente novamente.</p>
               {% endif %}
              <form id="signupForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" id="username" required placeholder="Entre com seu username.">
                </div>
                <div class="form-group">
                  <label for="firstName">Name</label>
                  <input type="text" name="first_name" class="form-control" id="firstName" required placeholder="Entre com seu nome.">
                </div>
                <div class="form-group">
                  <label for="lastName">Sobrenome</label>
                  <input type="text" name="last_name" class="form-control" id="lastName" required placeholder="Entre com seu sobrenome.">
                </div>
                <div class="form-group">
                  <label for="emailAddress">Email</label>
                  <input type="email" name="email" class="form-control" id="emailAddress" required placeholder="Entre com seu email.">
                </div>
                <div class="form-group">
                  <label for="loginPassword1">Senha</label>
                  <input type="password" name="password1" class="form-control" id="loginPassword1" required placeholder="Entre com a sua senha.">
                </div>
                <div class="form-group">
                  <label for="loginPassword2">Confirme sua senha</label>
                  <input type="password" name="password2" class="form-control" id="loginPassword2" required placeholder="Confirme sua senha.">
                </div>
                <button class="btn btn-primary btn-block my-4" type="submit">Registre-se</button>
              </form>
              <p class="text-center text-muted mb-0">Já é registrado? <a class="btn-link" href="/accounts/login">Faça o seu login</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
    </div>
  </div>
</div>
{% endblock %}