{% extends "base.html" %}
{% load static %}
{% block content %}

    <div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url({% static 'img/login-bg.jpg' %});"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="/" title="Bot Trade"><img src="{% static 'img/logo_s.png' %}" alt="Bot Trade"></a> </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Confirmação!</h1>
                <p class="text-4 text-white line-height-4 mb-5">Verifique aqui o status do seu pedido.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->

      <!-- Login Form
      ========================= -->
      <div class="col-md-6 d-flex align-items-center">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-600 mb-4">Prezado {{ user.get_username }}</h3>
                  <p class="text-center text-muted mb-0">O seu pedido foi realizado com sucesso e em breve entraremos em contato!</p>
                  <p class="text-center text-muted mb-0">Chave: {{ order.code  }}</p>
                  <p class="text-center text-muted mb-0">Data do pedido: {{ order.created_at|date:"d-m-yy" }}</p>
                  <a href="{% url 'logout'%}?next={{'/accounts/login'}}">Sair</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
    </div>
  </div>
</div>

{% endblock %}