{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url({% static 'img/login-bg.jpg' %});"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="/" title="Bot Trade"><img src="{% static 'img/logo_s.png' %}" alt="Bot Trade"></a> </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Peça o seu Bot Trade!</h1>
                <p class="text-4 text-white line-height-4 mb-5">Preencha o formulário que entraremos em contato em breve.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->

      <!-- Login Form
      ========================= -->
      <div class="col-md-6 d-flex align-items-center">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-600 mb-4">Pedido</h3>

               {% if form.errors %}
                 <p class="font-italic text-danger">Não foi possível fazer o pedido, por favor verifique os dados e tente novamente.</p>
               {% endif %}
              <form id="order" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="description">Detalhes do pedido:</label>
                  <textarea class="form-control" id="description" name="description" rows="3" required placeholder="Entre com os detalhes do seu pedido."></textarea>
                </div>

                <button class="btn btn-primary btn-block my-4" type="submit">Enviar</button>
              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
    </div>
  </div>
</div>
{% endblock %}